# List 

> In a simple language, a list is a collection of things, enclosed in [] and seperated by commas.

> it is similar to arrays

> it can contain any type of variable - Heterogeneous

> List in python are ordered and have a definite count. The elements in a list are indexed according to a definite and the indexing of a list starts with 0. 

> each element in the list has its definite place in the list, which allows duplicating of element in the list

In [1]:
l = [] # empty list

In [2]:
print(type(l))

<class 'list'>

In [3]:
l[0]

IndexError: list index out of range

In [4]:
st = [1,2,3]
print(st)
print(type(st))

[1, 2, 3]
<class 'list'>

In [5]:
st = [1,22.33,"Machine",2+3j,False] # heterogeneous example
print(st)
print(type(st))

[1, 22.33, 'Machine', (2+3j), False]
<class 'list'>

In [6]:
print(st[3])
print(type(st[3]))

(2+3j)
<class 'complex'>

In [7]:
l = [10,20,30,40,50,60]
#indexing

print(l)
print(l[3]) # 40
print(l[5]) # 60
print(l[-1]) # 60
print(l[-5]) #20

# slicing

print(l[1:5]) # 20,30,40,50  l [start:end-1]  # but remember end position will always be n-1
print(l[3:]) #40 50 60
print(l[:4]) # 10,20,30,40
print(l[-5:-1]) #20,30,40,50

[10, 20, 30, 40, 50, 60]
40
60
60
20
[20, 30, 40, 50]
[40, 50, 60]
[10, 20, 30, 40]
[20, 30, 40, 50]

In [8]:
a = "ABCDE"
a[1]="Z"

TypeError: 'str' object does not support item assignment

Lists are mutable. It means we can change an item in a list by accessing it as a part of the assignment statement

In [9]:
st = ['A','B','C','D','E']
print("Original List")
print(st)
print(st[0])
st[0]=9999
print()
print("New List")
print(st)
print(st[0])

Original List
['A', 'B', 'C', 'D', 'E']
A

New List
[9999, 'B', 'C', 'D', 'E']
9999

In [10]:
# list of lists

l = [1,2,[100,200.7,300],31,40,50]
print(l)
print(l[2])
print(l[2][1])
print(type(l))
print(type(l[2]))
print(type(l[2][1])) # float

[1, 2, [100, 200.7, 300], 31, 40, 50]
[100, 200.7, 300]
200.7
<class 'list'>
<class 'list'>
<class 'float'>

In [11]:
l = [1,2,(100,200.7,300),31,40,50]
print(l)
print(l[2])
print(l[2][1])
print(type(l)) # list
print(type(l[2])) # tuple
print(type(l[2][1])) # float

[1, 2, (100, 200.7, 300), 31, 40, 50]
(100, 200.7, 300)
200.7
<class 'list'>
<class 'tuple'>
<class 'float'>

In [12]:
l = (1,2,(100,200.7,300),31,40,50)
print(l)
print(l[2])
print(l[2][1])
print(type(l)) # tuple
print(type(l[2])) # tuple
print(type(l[2][1])) # float

(1, 2, (100, 200.7, 300), 31, 40, 50)
(100, 200.7, 300)
200.7
<class 'tuple'>
<class 'tuple'>
<class 'float'>

In [13]:
l = (1,2,[100,200.7,300],31,40,50)
print(l)
print(l[2])
print(l[2][1])
print(type(l)) # tuple
print(type(l[2])) # list
print(type(l[2][1])) # float

(1, 2, [100, 200.7, 300], 31, 40, 50)
[100, 200.7, 300]
200.7
<class 'tuple'>
<class 'list'>
<class 'float'>

In [14]:
st = ('A','B','C','D','E')
print("Original List")
print(st)
print(st[0])
st[0]=9999
print()
print("New List")
print(st)
print(st[0])

Original List
('A', 'B', 'C', 'D', 'E')
A

TypeError: 'tuple' object does not support item assignment

In [15]:
l = [1,2,3,4,5]
print(l)
l.remove(2) # python apply remove method on the list .. # this is based on the value and not index position
print(l)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]

In [16]:
l = [1,2,3,4,5]
print(l)
l.remove(22) # python apply remove method on the list .. # this is based on the value and not index position
print(l)

[1, 2, 3, 4, 5]

ValueError: list.remove(x): x not in list

In [17]:
l = [1,2,3,4,5]
print(l)
del l[2] # this is based on index location
print(l)

[1, 2, 3, 4, 5]
[1, 2, 4, 5]

In [18]:
l1 = [1,2,3]
l2 = [11,12,13]
l1+l2

[1, 2, 3, 11, 12, 13]

In [19]:
l = [10,11,12.156,13.1655,177]
print(sum(l))
print(len(l))
print(sum(l)/len(l)) # average # mean
print(int(sum(l)/len(l))) # typecasting
print(round((sum(l)/len(l)),2)) #

223.32150000000001
5
44.664300000000004
44
44.66

In [20]:
import math as m
print(m.floor(sum(l)/len(l))) #

44

# Traversing a list

In [2]:
names = ["XYZ","Python Trainer","Deep Learning TRainer","ML Trainer"]
for i in names: # range(5)
    print(i, end = ", ")

XYZ, XYZ
Python Trainer, Python Trainer
Deep Learning TRainer, Deep Learning TRainer
ML Trainer, ML Trainer

In [5]:
names = ["XYZ","Python Trainer","Deep Learning TRainer","ML Trainer"]
for i in names: # range(5)
    print(i)
print(names)

XYZ
Python Trainer
Deep Learning TRainer
ML Trainer
['XYZ', 'Python Trainer', 'Deep Learning TRainer', 'ML Trainer']

In [22]:
names = ["XYZ","Python Trainer","Deep Learning TRainer","ML Trainer"]
for i in range(4): # range(5)
    print(names[i], end = ", ")

XYZ, Python Trainer, Deep Learning TRainer, ML Trainer,

In [6]:
for i in range(5):
    print(i,end = " ")

0 1 2 3 4

In [8]:
# pop method

s =[1,2,3,4,5,67,55,44]
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)
s.pop()
print(s)

[1, 2, 3, 4, 5, 67, 55, 44]
[1, 2, 3, 4, 5, 67, 55]
[1, 2, 3, 4, 5, 67]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]
[1, 2, 3]
[1, 2]
[1]
[]

IndexError: pop from empty list

In [25]:
s =[1,2,3,4,5,67,55,44]
print(s)
s.pop(1)
print(s)

[1, 2, 3, 4, 5, 67, 55, 44]
[1, 3, 4, 5, 67, 55, 44]

In [26]:
l1 = [3,2,1,5,4]
print(l1)
print(l1[:]) # entire list 
print(min(l1)) # 1
print(max(l1)) # 5
l1.insert(2,9999) # Insert[index position, value/element] # 3,2,9999,1,5,4
l1.append(777) # 777 at the end [3,2,9999,1,5,4,777]
print(l1)
l1.extend([500,600,700]) # [3,2,9999,1,5,4,777,500,600,700]
print(l1)
l1.sort() # arranging the elements in the ascending order
print(l1)
l1.sort(reverse=True) # arrangind the elements in decending order
print(l1)
l1.reverse() # 
print(l1)
l1.clear() # []
print(l1)

[3, 2, 1, 5, 4]
[3, 2, 1, 5, 4]
1
5
[3, 2, 9999, 1, 5, 4, 777]
[3, 2, 9999, 1, 5, 4, 777, 500, 600, 700]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 9999]
[9999, 777, 700, 600, 500, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 500, 600, 700, 777, 9999]
[]

In [27]:
["Machine","Learning"]*4

['Machine',
 'Learning',
 'Machine',
 'Learning',
 'Machine',
 'Learning',
 'Machine',
 'Learning']

In [9]:
[1,2,3,4,5,67,55,44]*3

[1,
 2,
 3,
 4,
 5,
 67,
 55,
 44,
 1,
 2,
 3,
 4,
 5,
 67,
 55,
 44,
 1,
 2,
 3,
 4,
 5,
 67,
 55,
 44]

In [14]:
# there is file with a certain characters sorted in the form of array.. robert looks at this array and then he has another 
# array b which as set of character. now robert want to find how many characters in the first array is present in the 2nd array


# input : take 2 array inputs from the user

# output : ABCDEF DEFGHI

# DEF

# write a function to find all the letter from list 1 that are present in list 2


# function
# for
# if


def dunc(list1,list2):
    for e in list1:
        if e in list2:
            print(e,end="")

In [15]:
a = input("Enter string a")
b = input("Enter string b")

dunc(a,b)

Enter string aasdf
Enter string bsfg
sf

In [ ]:
a=['a','b','c','d','e','f']
b=['d','e','f','g','h','i']
print(a)
print(b)
def common(lst1, lst2): 
    return list(set(lst1) | set(lst2))
e=common(a,b)
print(e)

In [16]:
# There is tuple with n int values. Write a program to identify the max value and min value in the tuple and return the values

# write this program using a function

# fucntion
# max
# min
# return


def feed(topel):
    f1 = max(topel)
    f2 = min(topel)
    return f1,f2

In [17]:
z = feed((2,3,1,4,32))
print(z)
print(type(z))

(32, 1)
<class 'tuple'>

In [28]:
def fee(topel):
    f1 = max(topel)
    f2 = min(topel)
    return f1,f2

In [29]:
a = fee([2,3,1,4,32])
print(a)
print(type(a))

(32, 1)
<class 'tuple'>

In [27]:
# write a program to store numbers from 0 to 100 in a list

In [ ]:
n=100
for i in range(n):
    i=i+1
    print(i,end = " ")

In [ ]:
for I in range(101):

In [4]:
lst = list(range(1,101))
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

range(0, 100)

In [6]:
l = []
for i in range(1,101):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [7]:
l=[]
for i in range(1,101):
    l.append(i)

print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [8]:
z = []
for i in range(1,101):
    if i<20 or i>40:
        z.append(i)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [31]:
z = []
for i in range(1,101):
    if i<2 or i>40:
        z.append(i)
print(z)

[1, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [74]:
t1 = (1,2,3)
t2 = (5,6,4,1)
print(t1+t2) # concat
print(t1*3) # repeat
print(len(t1)) # 3
print(max(t1)) # 3
print(min(t1)) # 1
print(tuple([1,2,3,4,5,6])) # typecasting - converting a list into a tuple
print(list((1,2,3,4,5,6))) # typecasting converting tuple into a list

(1, 2, 3, 5, 6, 4, 1)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
3
3
1
(1, 2, 3, 4, 5, 6)
[1, 2, 3, 4, 5, 6]

In [75]:
# write program to create a list with even number from 0 to 100 

l=[]
for i in range(0,101,2):
    l.append(i)

print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [33]:
l=( ,)


for i in range(0,101,2):
    l.append(i)

print(l)

SyntaxError: invalid syntax (3315433817.py, line 1)

# Dictionary

> Dictionary in python is a collection of keys values, used to store data values like a amp, which unlike other data types which hold only a single value as an element

> The key and the value pair is called as item

> the values in the dictionary are mutable i.e can be changed

> The keys in the distionary are immutable

> {key:value}


> Note : Dictionaly keys are case sensitive, the same name but different cases of key will be treated distinctly

In [35]:
d = {1:"comp",12:"IT",31:"EXTC"}
print(d)
print(type(d))
print(d[1]) # 
print(d[12])
print(d[2])

{1: 'comp', 12: 'IT', 31: 'EXTC'}
<class 'dict'>
comp
IT

KeyError: 2

Anil is working in a finance company where his role is to approve the loan amount. To calculate the EMI he does manual calculations. Help him to calculate the EMI by creating a python function.

Use the following formula to calculate the EMI:

EMI = P * r * ((1+r)^n)/((1+r)^n -1))

where P= principal amount

r = rate of the interest,

if r=10.5% per annum, means r=(10.5/12)/100=0.00875 per annum

n= duration in number of months

if n=10 years means n=10 x 12=120 months

Input 

the first line of the input contains Principle amount of the loan in integer

The second line of the input contains the float value of r in percentage

The third line of the input contains an integer n for the duration in the number of years

Output The EMI amount with no decimal points

Example 

Input 5000000

7.5

20

Output 40280

In [36]:
def emi_calculator(P,r,n):
    n=(n*12)
    r = ((r/12/100))
    EMI = P * r * ((1+r)**n)/(((1+r)**n) -1) 
    return EMI

In [37]:
P = int(input())
r = float(input())
n = int(input())




print(round(emi_calculator(P,r,n)))

5000000
7.5
20
40280

Dinesh started learning Geometry today. He doesn't know the formulae to calculate the areas of different shapes. His teacher has just taught him how to calculate the areas of basic shapes including square, rectangle, triangle and circle. He is facing the problem to memorise all these formulae. Create a python logic to help Dinesh to display the formulae when he selects the shape.

Input 

One line of input contains the First alphabet of shape in Capital form.

Output Formula for corresponding shape.

Example input S

Output Area of Sqaure = side ^2

Note: Use capital 'X' as multiplication and '^' for power.

Avoid spaces in formulae Example: for input 'C' the output is 3.14Xradius^2

Show message 'Enter valid Alphabet' for the input other than specified letters

Hint:

Area of square = side * side
area of rectangle = length * breadth
Traingle = 0.5*base*height
circel = 3.14*r^2

In [ ]:
l = input("Enter the first charater of the shapes - C,T,R,S")

if l=="C":
    print("Area of a circle is : 3.14xradiusxradius")
elif l=="T":
    print("Area of a Traingle is : 0.5xbasexheight")
elif l=="R":
    print("Area of a Recatangle is : lengthxbreadth")
elif l=="S":
    print("Area of a Square is : sidexside")
else:
    print("Please enter one of the four characters only - C/T/R/S")

In [39]:
import os
os.getcwd()

'C:\\Users\\user\\Downloads'