# Dictionary

> Dictionary in python is a collection of keys values, used to store data values like a amp, which unlike other data types which hold only a single value as an element

> The key and the value pair is called as item

> the values in the dictionary are mutable i.e can be changed

> The keys in the distionary are immutable

> {key:value}


> Note : Dictionaly keys are case sensitive, the same name but different cases of key will be treated distinctly

In [1]:
d = {1:"comp",12:"IT",31:"EXTC"}
print(d)
print(type(d))
print(d[1]) # 
print(d[2])

{1: 'comp', 12: 'IT', 31: 'EXTC'}
<class 'dict'>
comp

KeyError: 2

In [2]:
d = {"comp":1,"IT":12,"EXTC":3}
print(d)
print(type(d))
print(d["comp"])

{'comp': 1, 'IT': 12, 'EXTC': 3}
<class 'dict'>
1

In [3]:
d = {1:100,1.2:150,"Board":"Infinity","BoardInfinity":1256.236,12.2456:"Learners"}
print(d)
print(d[1])
print(d["Board"])
print(d[12.2456])

{1: 100, 1.2: 150, 'Board': 'Infinity', 'BoardInfinity': 1256.236, 12.2456: 'Learners'}
100
Infinity
Learners

In [4]:
d = {1:100,5.6:[1,2,3,4,5],12:(55,66,77),13:{'a','e'}}
print(d)
print(d[1]) # 100
print(d[12]) # (55,66,77)
print(type(d[12])) # tuple
print(d[12][1]) # 66
print(type(d[13]))

{1: 100, 5.6: [1, 2, 3, 4, 5], 12: (55, 66, 77), 13: {'e', 'a'}}
100
(55, 66, 77)
<class 'tuple'>
66
<class 'set'>

In [5]:
d = {1:"COMP", 2: "IT", 3:"EXTC"}
print(3 in d) # membership operator, will look for key is present in the dictionay
print("EXTC" in d)
print(str(d))
print(type(str(d)))
print(d.keys())
print(d.values())
print(list(d.keys()))
print(tuple(d.values()))

True
False
{1: 'COMP', 2: 'IT', 3: 'EXTC'}
<class 'str'>
dict_keys([1, 2, 3])
dict_values(['COMP', 'IT', 'EXTC'])
[1, 2, 3]
('COMP', 'IT', 'EXTC')

In [6]:
d1 = {1:"COMP", 2: "IT", 3:"EXTC"}
d2 = {100:"CHEM"}

print(d1)
print(d2)
d1.update(d2)
print(d1)
print(d2)
d1.append(d2) # error

{1: 'COMP', 2: 'IT', 3: 'EXTC'}
{100: 'CHEM'}
{1: 'COMP', 2: 'IT', 3: 'EXTC', 100: 'CHEM'}
{100: 'CHEM'}

AttributeError: 'dict' object has no attribute 'append'

In [7]:
d = {"COMP":3,"IT":1,"EXTC":2}
print(d.get("IT"))
print(d['IT'])

1
1

In [8]:
d = {1:50,2:100,3:150,4:200,5:250}
print(d)
print(d[1])
d[1]="Machine Learning"
print(d)

{1: 50, 2: 100, 3: 150, 4: 200, 5: 250}
50
{1: 'Machine Learning', 2: 100, 3: 150, 4: 200, 5: 250}

In [9]:
d = {1:50,2:100,4:150,5:200,3:250}
print(d)
del d[3]
print(d)

d.clear()
print(d)

{1: 50, 2: 100, 4: 150, 5: 200, 3: 250}
{1: 50, 2: 100, 4: 150, 5: 200}
{}

In [10]:
d = {1:100,2:100,3:100,4:100,5:100,2:10000,3:2}
print(d)

{1: 100, 2: 10000, 3: 2, 4: 100, 5: 100}

#### Dictionary cannot have duplicate keys - when we have duplicate keys the latest value will be retained , previous value will be dropped

In [11]:
dict = {1:"Machine",2:"Learning",3:{11:"Welcome",22:"to",33:"Python class"}}
print(dict)
print(dict[3][33])

{1: 'Machine', 2: 'Learning', 3: {11: 'Welcome', 22: 'to', 33: 'Python class'}}
Python class

# Dictionary Methods

clear() – Remove all the elements from the dictionary

copy() – Returns a copy of the dictionary

get() – Returns the value of specified key

items() – Returns a list containing a tuple for each key value pair

keys() – Returns a list containing dictionary’s keys

pop() – Remove the element with specified key

popitem() – Removes the last inserted key-value pair

update() – Updates dictionary with specified key-value pairs

values() – Returns a list of all the values of dictionary

In [14]:
dict1={1:"Python",2:"Java",3:"Ruby",4:"Scala"}
print("dict1 is : ",dict1)

# copy method
dict2 = dict1.copy()
print("dict2 is : ",dict2)


# clear Method

dict1.clear()
print(dict1)

# get method

print(dict2.get(1))

# items() methods

print(dict2.items())

dict2.pop(4)
print(dict2)

dict2.popitem()
print(dict2)

dict2.update({3:"Scala"})
print(dict2)


print(dict2.values())

dict1 is :  {1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
dict2 is :  {1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_items([(1, 'Python'), (2, 'Java'), (3, 'Ruby'), (4, 'Scala')])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}
dict_values(['Python', 'Java', 'Scala'])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [15]:
d = {}
print(type(d))

for num in range(1,11):
    d[num] = num**2
print(d)

<class 'dict'>
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [16]:
dc = {num:num**2 for num in range(1,11)}
print(dc)
print(type(dc))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
<class 'dict'>

In [17]:
dc = {num**2 for num in range(1,11)}
print(dc)
print(type(dc))

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

In [18]:
# Example


old_menucard = {
    
    'pav bhaji' : 80,
    'Masala Dosa':100,
    'Tea':20,
    'Coffee':20,
    'moms':85
}

# lets say i want to increase 10% in price for every item

In [19]:
new_menucard = {k:v+(0.1*v) for (k,v) in old_menucard.items()}
new_menucard

{'pav bhaji': 88.0,
 'Masala Dosa': 110.0,
 'Tea': 22.0,
 'Coffee': 22.0,
 'moms': 93.5}

In [20]:
new_menucard = {k:int(round(v+(0.1*v),0)) for (k,v) in old_menucard.items()}
new_menucard

{'pav bhaji': 88, 'Masala Dosa': 110, 'Tea': 22, 'Coffee': 22, 'moms': 94}

In [21]:
test_marks = {'A':28,'B':35,'C':50,'D':12}
print(test_marks)

# i want to seperate students who as failed - scoring <18 is a fail

failed_student = { k:v for (k,v) in test_marks.items() if v <18}
failed_student

{'A': 28, 'B': 35, 'C': 50, 'D': 12}

{'D': 12}

In [22]:
for (k,v) in test_marks.items():
    if v<18

SyntaxError: invalid syntax (3097620913.py, line 2)

# Sets

> A set is a collection which is unordered and unindexed. 

> In Python sets are written with curly brackets.

> Sets cannot have duplicate values

In [23]:
s = {1,2,"Board",3,"Infinity",2}
s

{1, 2, 3, 'Board', 'Infinity'}

In [24]:
l = [1,2,"Board",3,"Infinity",2]
l

[1, 2, 'Board', 3, 'Infinity', 2]

In [25]:
s = {"apple","banana",'cherry'}
print(s[0])

TypeError: 'set' object is not subscriptable

In [26]:
l = [1,2,"Board",3,"Infinity",2]
l[0]

1

you cannot access items in a set by referring to an index, since sets are unordered and has no index

But you can loop through the set items using a for loop or ask if a specified valus is present in a set by using the "in" keyword

In [27]:
thisset = {"apple","banana",'cherry'}
for x in thisset:
    print(x,end=" ")

apple cherry banana

In [28]:
thisset = {"apple","banana",'cherry'}

print("banana" in thisset)
print("apple" in thisset)
print("cherry" not in thisset)

True
True
False

In [29]:
# once a set is created you cannot change its items, but you can add new items

thisset = {"apple","banana",'cherry'}
thisset.add("Orange")
print(thisset)

{'Orange', 'apple', 'cherry', 'banana'}

In [30]:
thisset = {"apple","banana",'cherry'}
thisset.update(["Orange","mango","grapes"])
print(thisset)

{'cherry', 'grapes', 'apple', 'Orange', 'banana', 'mango'}

In [31]:
print(len(thisset))

6

In [32]:
thisset = {"apple","banana",'cherry'}
thisset.remove("apple")
print(thisset)

{'cherry', 'banana'}

In [33]:
thisset = {"apple","banana",'cherry'}
thisset.discard("apple")
print(thisset)

{'cherry', 'banana'}

In [34]:
thisset = {"apple","banana",'cherry'}
thisset.remove("Orange")
print(thisset)

KeyError: 'Orange'

In [35]:
thisset = {"apple","banana",'cherry'}
thisset.discard("Orange")
print(thisset)

{'apple', 'cherry', 'banana'}

In [36]:
# discard will not throw an erro if the element is not present in the set

# remove will throw an error if the element is not present in the set

# Join Two Sets

> There are several ways to join two or more sets in Python.

> You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another

In [37]:
set1= {"a","b","c",2}
set2 = {1,2,3}

set3= set1.union(set2) # A union B will remove duplicate values
print(set3)

{1, 2, 3, 'c', 'b', 'a'}

In [76]:
set1= {"a","b","c",2}
set2 = {1,2,3}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}

In [77]:
set1= {"a","b","c",2}
set2 = {1,2,3}
set1|set2

{1, 2, 3, 'a', 'b', 'c'}

In [78]:
set1= {"a","b","c",2}
set2 = {1,2,3}
set1&set2 # intersection - common elements in both the sets

{2}

In [81]:
x = {"apple","banana",'cherry'}
y = {"google","microsoft","apple"}

z = y.difference(x) # this will return all the items from y that are not part of x
print(z)

z1 = x.difference(y) # this will return all the items from x that are not part of y
print(z1)

{'microsoft', 'google'}
{'cherry', 'banana'}

In [83]:
x = {"apple","banana",'cherry'}
y = {"google","microsoft","apple"}

z = y-x
print(z)

{'microsoft', 'google'}

In [84]:
x = {"apple","banana",'cherry'}
y = {"google","microsoft","apple"}

z = y+x
print(z)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

# operator we can use with set 

key in s	     containment check
key not in s	non-containment check
s1 == s2	    s1 is equivalent to s2
s1 != s2	    s1 is not equivalent to s2
s1 <= s2	   s1 is subset of s2
s1 < s2		   s1 is proper subset of s2
s1 >= s2	   s1 is superset of s2
s1 > s2	       s1 is proper superset of s2
s1 | s2	       the union of s1 and s2
s1 & s2	       the intersection of s1 and s2
s1 – s2	       the set of elements in s1 but not s2
s1 ˆ s2	       the set of elements in precisely one of s1 or s2

In [86]:
# comprehensive example of set

# Creating two sets
set1 = set() # {1,2,3,4,5}
set2 = set() # {3,4,5,6,7}
 
# Adding elements to set1
for i in range(1, 6):
    set1.add(i)
 
# Adding elements to set2
for i in range(3, 8):
    set2.add(i)
 
print("Set1 = ", set1)
print("Set2 = ", set2)
print("\n")
 
# Union of set1 and set2
set3 = set1 | set2# set1.union(set2)  # {1,2,3,4,5,6,7}
print("Union of Set1 & Set2: Set3 = ", set3)
 
# Intersection of set1 and set2
set4 = set1 & set2# set1.intersection(set2) # {3,4,5}
print("Intersection of Set1 & Set2: Set4 = ", set4)
print("\n")
 
# Checking relation between set3 and set4
if set3 > set4: # set3.issuperset(set4)
    print("Set3 is superset of Set4")
elif set3 < set4: # set3.issubset(set4)
    print("Set3 is subset of Set4")
else : # set3 == set4
    print("Set3 is same as Set4")
 
# displaying relation between set4 and set3
if set4 < set3: # set4.issubset(set3)
    print("Set4 is subset of Set3")
    print("\n")
 
# difference between set3 and set4
set5 = set3 - set4  # {1,2,6,7}
print("Elements in Set3 and not in Set4: Set5 = ", set5)
print("\n")
 
# check if set4 and set5 are disjoint sets
if set4.isdisjoint(set5):  # a = {1,2,3} B = {7,8,9}  a & b = {}
    print("Set4 and Set5 have nothing in common\n")
 
# Removing all the values of set5
set5.clear()
 
print("After applying clear on sets Set5: ")
print("Set5 = ", set5)

Set1 =  {1, 2, 3, 4, 5}
Set2 =  {3, 4, 5, 6, 7}


Union of Set1 & Set2: Set3 =  {1, 2, 3, 4, 5, 6, 7}
Intersection of Set1 & Set2: Set4 =  {3, 4, 5}


Set3 is superset of Set4
Set4 is subset of Set3


Elements in Set3 and not in Set4: Set5 =  {1, 2, 6, 7}


Set4 and Set5 have nothing in common

After applying clear on sets Set5:
Set5 =  set()

# Split Method 

Python split() method is used to split a string into a list of string after breakng the given string by a specified seperator

syntax : split(seperator,maxsplit)

return values : returns a list of string after breaking

In [88]:
string = "Machine,Learning,Python"
words = string.split(',')
print(words)
print(type(words))

['Machine', 'Learning', 'Python']
<class 'list'>

In [89]:
text = "Machine Learning Python"
print(text.split())

['Machine', 'Learning', 'Python']

In [92]:
string = "Machine:Learning:Python"
words = string.split(':')
print(words)

['Machine', 'Learning', 'Python']

In [95]:
words = "Machine,Learning,Python,SQL"
print(words.split(',',0))
print(words.split(',',4))
print(words.split(',',1))

['Machine,Learning,Python,SQL']
['Machine', 'Learning', 'Python', 'SQL']
['Machine', 'Learning,Python,SQL']

In [101]:
f_in = int(input().split())

3 2

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [97]:
f_in

'3 2'

In [103]:
int([1,2,3,4])

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false. An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.

for example

371, as 3^3 + 7^3 + 1^3 = 371 

1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634 Input Integer number

34, as 3^2+4^2 = 25

Output true or false

Example Input:

1

Output:

True