# Map Filter And Lambda

## MAP

> It aplies the given function to all iterables and returns new iterable

Syntax : map(function, Iterables)

In [1]:
def sqr(a):
    return a*a

In [3]:
x = sqr(5)
print(x)

25

In [4]:
x = sqr([1,2,3,4,5])

# this is returning an error, this func cannot square items of a list and return values # [1,4,9,16,25]

# to get this kind of an output we should use map

TypeError: can't multiply sequence by non-int of type 'list'

In [5]:
def sqr(a):
    return a*a

Syntax : map(function, Iterables)

In [7]:
x = map(sqr,[1,2,3,4,5])
print(x)
print(list(x))

<map object at 0x0000025793A507F0>
[1, 4, 9, 16, 25]

In [8]:
list(map(sqr,[1,2,3,4]))

[1, 4, 9, 16]

In [16]:
# write a function to add two lists using map fnction

def addn(a,b):
    return a+b

In [17]:
x = addn([1,2,3,4],[100,200,300,400])
print(x)

[1, 2, 3, 4, 100, 200, 300, 400]

In [18]:
list(map(addn,[1,2,3,4],[100,200,300,400]))

[101, 202, 303, 404]

# Lambda Functions

> They are the function that do not have any name. They are also called as anonymous function or nameless functions.

> they are generally provided as inputs to other functions

> they are single line function

> Lambda is not a name, it is a keyword

> A lambda function can take any number of arguments, but can have only one expression

syntax : lambda arguments : expression

In [19]:
def sqr(a):
    return a*a

sqr(3)

9

In [20]:
x = lambda a : a*a
x(3)

9

In [21]:
x(9)

81

In [22]:
x(-64)

4096

In [24]:
z= lambda x,y:5*x+3*y

z([1,2,3],[3,4,5])

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 3, 4, 5, 3, 4, 5, 3, 4, 5]

In [25]:
# now lets use map and lambda together

l = [1,2,3,4]
list(map(lambda x:x*x,l))

[1, 4, 9, 16]

In [27]:
# take two list and multiply them and return the answer


list(map(lambda f,g: f*g, [1,2,3,4],[20,20,20,20]))

[20, 40, 60, 80]

In [28]:
# write x*y+z
list(map(lambda a,b,c : a*b+c, [1,2,3,4],[10,20,30,40],[11,22,33,44]))

[21, 62, 123, 204]

# Filters

> Filters and map hav excatly same syntax

> it is used to filter the given iterable with the hlep of another function passed as an argumernt to test all the elements to be True

In [82]:
type(a_c)

list

syntax:

map(function,iterables)
filter(function, iterables)

In [29]:
list(map(lambda x:x>=6,[1,2,3,4,5,6,7,8,9,10]))

[False, False, False, False, False, True, True, True, True, True]

In [30]:
list(filter(lambda x:x>=6,[1,2,3,4,5,6,7,8,9,10]))

[6, 7, 8, 9, 10]

In [31]:
list(map(lambda x: x+100,list(filter(lambda x: x>= 6, [1,2,3,4,5,6,7,8,9,10]))))

[106, 107, 108, 109, 110]

In [32]:
list(filter(lambda x: x+100,list(map(lambda x: x>= 6, [1,2,3,4,5,6,7,8,9,10]))))

[False, False, False, False, False, True, True, True, True, True]

Write a Program to determine if the given number is Armstrong number or not. Print true if number is armstrong, otherwise print false. An Armstrong number is a number (with digits n) such that the sum of its digits raised to nth power is equal to the number itself.

for example

371, as 3^3 + 7^3 + 1^3 = 371 

1634, as 1^4 + 6^4 + 3^4 + 4^4 = 1634 Input Integer number

34, as 3^2+4^2 = 25

Output true or false

Example Input:

1

Output:

True

In [3]:
def is_armstrong(number):
    num_str = str(number)
    n = len(num_str)
    sum = 0
    for i in num_str:
        sum = sum + int(i)**n
    return sum == number

In [4]:
number = int(input("Enter a number: "))

print(is_armstrong(number))

Enter a number: 1
True

In [6]:
num = int(input("Enter the value check for armstrong number: "))

order = len(str(num))

sum = 0

temp = num

while temp > 0 :
    digit = temp % 10 
    sum = sum + digit**order
    temp = temp // 10
    
if num == sum :
    print(num, " is an Armstrong number")
else :
    print(num, " is not an Armstrong number")

Enter the value check for armstrong number: 1
1  is an Armstrong number

There is an array of n integers. There are also 2 disjoint sets, A and B, each containing m integers. Youlike all the integers in set A and dislike all the integers in set B. Your initial happiness is 0. For each i integer in the array, if i in A, you add 1 to your happiness. If i in B, you add -1 to your happiness. Otherwise, your happiness does not change. Output your final happiness at the end.

Note: Since A and B are sets, they have no repeated elements. However, the array might contain duplicate elements.

Input The first line contains integers n and m separated by a space. The second line contains n integers, the elements of the array. The third and fourth lines contain m integers, A and B, respectively

Output Output a single integer, your total happiness.

Constraints 1 ≤ n ≤ 10

1 ≤ m ≤ 10^5

1 ≤ Any integer in the input ≤ 10⁹

Input:

3 2

1 5 3

3 1

5 7

Output: 1

map(function,iterables)

In [ ]:
# Input

f_in = list(map(int,input().split()))[:2]
# n = f_in[0], m = f_in[1]
n,m = f_in[0],f_in[1]

s_in = list(map(int,input().split()))[:n]
a = set(map(int,input().split()))
b = set(map(int,input().split()))

# Logic 

a_c= 0 
b_c= 0

a_c = len([a_c + 1 for x in s_in if x in a])
b_c = len([b_c + 1 for x in s_in if x in b])

print(a_c-b_c)

In [ ]:
a_c

In [ ]:
b_c

In [83]:
type(b_c)

list

In [84]:
[1,2,3]-[4,5,6]

TypeError: unsupported operand type(s) for -: 'list' and 'list'

We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. In the Gregorian calendar three criteria must be taken into account to identify leap years:

The year can be evenly divided by 4, is a leap year, unless: The year can be evenly divided by 100, it is NOT a leap year, unless: The year is also evenly divisible by 400. Then it is a leap year. This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900,2100, 2200, 2300 and 2500 are NOT leap years. 

Source Task 

You are given the year, and you have to write a function to check if the year is leap or not. Note that you have to complete the function and remaining code is given as template.

Input Read y, the year that needs to be checked.

Output 

Output is taken care of by the template. Your function must return a boolean value (True/False)

Sample input 1990

Sample Output False

Explanation 1990 is not a multiple of 4 hence it's not a leap year.

Example Input: etc.

Output: etc.

In [88]:
def leap(year):
    leap = False
    if (year % 4 == 0):
        leap = True
        if (year % 100 == 0):
            leap = False
            if(year % 400 == 0):
                leap = True
    return leap

In [92]:
leap(2100)

False

You are given n words. Some words may repeat. For each word, output its number of occurrences. The output order should correspond with the input order of appearance of the word. See the sample input/output for clarification.

Note: Each input line ends with a "\n" character.

Input The first line contains the integer n, . The next n lines each contain a word.

Output Output 2 lines. On the first line, output the number of distinct words from the input. On the second line, output the number of occurrences for each distinct word according to their appearance in the input.

Constraints 1 ≤ n ≤ 105 The sum of the lengths of all the words do not exceed 106 All the words are composed of lowercase English letters only.

Input: 4 bcdef abcdefg bcde bcdef

Output: 3 2 1 1

Given a number N, print list of cubes of all even numbers from 1 to N.

Input N

Output list of cubes of all even numbers from 1 to N

Example Input:

6

Output:

[8, 64]


*** use Lambda function

In [9]:
N = int(input())

l = list(range(N))

l1 = filter(lambda x:x>0,l)

list(map(lambda x:x**3,list(filter(lambda x:x%2==0,l1))))

6

[8, 64]

In [114]:
l

[0, 1, 2, 3, 4, 5]

In [115]:
list(l1)

[]

In [116]:
list(l2)

[2, 4]

In [112]:
list(filter(lambda x:x%2==0,[1, 2, 3, 4, 5]))

[2, 4]