# Datatype

> int - Plain integer

> float - Floating point number

> complex - Complex no, Real and Imaginary part->3+5j

> boolean - True and False

> sequence - string, list, tuple

> mapping - Dictionary

> set - unordered collection of distinct objects

> file - used to make file system objects

# Typecasting

> there may be times when you want to convert one data type to other for certain calculation and this can be done by using type casting

> Company name, segment, territory,rev,prev month rev

In [1]:
x = '2017'
type(x)

str

In [2]:
x = int('2017')
print(x)
type(x)

2017

int

In [3]:
int(3.1223423423) # Float is getting converted into an integer

3

In [4]:
int(float('2017.4445453'))

2017

In [5]:
float(4)

4.0

# Operator

> Arithmetic : + -* / % // Floor Division ** exponentiation

> Relational : < <= > >= != ==

> Logical : and or not

> Membership : in, not in 

> identity : is, is not

In [6]:
print(2+3) # 5
print(3-2) # 1
print(2*3) # 6
print(6/4) # 1.5 
print(6//4) #1
print(6%4) # reminder - 2
print(2**3) # 8

5
1
6
1.5
1
2
8

In [7]:
# relational operators will always return a boolean value

print(2<3)
print(3<=3)
print(3<=4)
print(3<=2)
print(3==3)
print(4==3)
print(4!=3)
print(3!=3)

True
True
True
False
True
False
True
False

In [8]:
s = True
t = False
print(type(s))

print(s and t)
print(s or t)
print(not(s))

<class 'bool'>
False
True
False

In [10]:
# Membership Operators : In and Not In - will return a boolean value

s = "Machine Learning"
print("D" in s) # False
print("s" in s) # False
print("d" in s) # False
print("D" not in s) # True
print("d" not in s) # True
print("M " in s) # True ?

False
False
False
True
True
False

In [11]:
l = [1,2,3,4,5]
3 in l

True

In [12]:
t = [1,2,3,4,5]
10 in t

False

# Looping Statements :

For loop and the while loops

In [13]:
n= [1,2,3,4,5] # List of numbers
for i in n:
    print(i, end = " ")
print("\nOut of loop")

1 2 3 4 5
Out of loop

In [14]:
name = ["Machine","Learning","Data","Science"]#List of string
for i in name:
    print(i, end =  " ")

Machine Learning Data Science

In [15]:
s = "Machine Learning"
for i in s:
    print(i,end = " ")

M a c h i n e   L e a r n i n g

# Range Function : will return a sequence of numbers

> range(5) : it goes from 0 to 4 to generate a sequnce of numbers

> range(start,Stop,stepsize): default stepssize is 1

In [16]:
range(5)

range(0, 5)

In [17]:
for i in range(5):
    print(i, end = " ")

0 1 2 3 4

In [18]:
for i in range(1,5):
    print(i, end = " ")

1 2 3 4

In [19]:
for i in range(2,10):
    print(i, end = " ")

2 3 4 5 6 7 8 9

In [20]:
for i in range(2,10,2):
    print(i, end = " ")

2 4 6 8

In [21]:
for i in range(0,10,3):
    print(i, end = " ")

0 3 6 9

In [3]:
for i in range(0,100,7):
    print(i, end = " ")

0 7 14 21 28 35 42 49 56 63 70 77 84 91 98

In [22]:
# program to display sum of number from 0 to 4

sum = 0

for i in range(5):
    sum = sum+i
print("sum= ",sum)

sum=  10

# While loop

syntax:
    
while condition :
  do this
  do this
  increment/decrement

In [23]:
# while

i = 1
while i <=5:
    print(i, end = " ")
    i = i+1

1 2 3 4 5

In [24]:
s = "Machine Learning"
i = 0

while i < len(s): # try <= and check the result
    d = s[i]  # indexing
    print(d, end = " ")
    i = i +1

M a c h i n e   L e a r n i n g

In [25]:
a = "Data"
print(a[3])
print(a[4])

a

IndexError: string index out of range

In [28]:
i=1
while i<=5:
    print(i*'*') 
    i=i+1
print("\nout of loop")


# write the above program using for loop, also try to add space after each row and after each star

*
**
***
****
*****

out of loop

In [2]:
i=1
while i<=5:
    print('*'*i) 
    i=i+1
print("\nout of loop")

*
**
***
****
*****

out of loop

In [3]:
i=5
while i>=1:
    print('*'*i) 
    i=i-1
print("\nout of loop")

*****
****
***
**
*

out of loop

# Conditional Execution 

### Flow control


> conditional statements : If, if-else, if-elif-else, nested if-else

> Transfer statements : break, continue & pass

> iterative statments : for & while

syntax for "if" statement

if condition:
    statement 1
    statement 2
    .
    .
    .
    statement n

In [29]:
x = -5
if x>0:
    print(x)
    print("welcome to datascience learning")
print("Out of if statement")

Out of if statement

syntax for if-else statement

if condition:
    statement1
else:
    statement2

In [30]:
# write a program to check if the given number is even or odd

x = 15
if x%2==0:
    print(x," is even")
else:
    print(x," is odd")

15  is odd

In [7]:

for i in range(10):
    if i%2==0:
        print(i," is even")
    else:
        continue

0  is even
2  is even
4  is even
6  is even
8  is even

In [31]:
x = 35
if x>35:
    print(x," is greater than 35")
else:
    print(x," is less than or equal to 35")

35  is less than or equal to 35

syntax of chained conditionals or multiple if statements

if condition1:
    statement1
elif coondition2:
    statement2
elif condition3:
    statement3
    
   .
   .
   .
   .
else:
    statment

In [32]:
# chained conditional

x = 35
if x>35:
    print(x,"is greater than 35")
elif x<35:
    print(x, " is less than 35")
else:
    print(x, " is equal to 35")

35  is equal to 35

In [33]:
# Nested conditionals

x = 35
if x>35:
    print(x," is greater than 35")
else:
    if x<35:
        print(x, "is less than 35")
    else:
        print(x," is equal to 35")

35  is equal to 35

In [34]:
# try do correct this program logically to get the right answer
x  = 55
if x<=35:

    if x ==35:
        print(x,"is equal to 35")
    else:
        print(x, " is less than 35")
else :
    print(x,"is greater than 35")

55 is greater than 35

if there is an else clause, it has to be at the end, but it is not mandatory to have one

# Break 

> The break statement is used inside the loop to to exit out of the loop. It is useful when we want to terminate the loop as soon as the condition is fullfilled instead of doing the remaining iteration .

> it helps in reducing the execution time

In [36]:
n = [1,2,3,4,5,6,7]
for i in n:
    if (i==4):
        break
    else:
        print(i)

1
2
3

# Continue Statement

> The continue statement is used to skip the "current" iteration and continue with the next iteration

In [37]:
n = [1,2,3,4,5,6,7]
for i in n:
    if (i==4):
        continue
    else:
        print(i)

1
2
3
5
6
7

In [38]:
n = [1,2,3,4,5,6,4,7,8,4,9,10,4,555,4,6,7,5,32,5,2,1,4,5,6,99,100,5,66]

# from the above list print all the values except 4 or 5

In [64]:
import os
os.getcwd()

'C:\\Users\\Arun R'

In [1]:
n=[1,2,3,4,5,6,4,7,8,4,9,10,4,555,4,6,7,5,32,5,2,1,4,5,6,99,100,5,66]
for i in n:
    if(i==4) or (i==5):
      continue
    else:
        print(i)

1
2
3
6
7
8
9
10
555
6
7
32
2
1
6
99
100
66